<div class="container dash-cont">
	{{>dash-sidebar}}
	
	<div class="main-content">
		<h1 class="dashboard-title">
			{{&pgheader}}
			
			<!--{{vehicle_post_date}} {{vehicle_year}} {{vehicle_make}} {{vehicle_model}}-->
		</h1>
		
		
