{{#has_current_alerts}}
<h3 class="lead-title">Current Alerts</h3>
<ul class="dash-alerts-list">
	{{#current_alerts}}
	<li class="alert {{alert_type}}"><p>{{alert_title}}</p> <a class="alert-close" href="/admin/dismiss/?id={{alert_id}}&redirect={{currenturl}}">Close</a> <a class="alert-link" href="{{vehicle_url}}">VIEW</a>
		
	</li>
	{{/current_alerts}}
	<div class="wrapper-view_all_alerts">
		<a class="view_all_alerts" href="/admin/alerts/">View all alerts</a>
	</div>
</ul>
{{/has_current_alerts}}