
				<div class="sidebar">
					<ul class="dashboard-side-menu">
						<li><a href="../dashboard/">Dashboard</a></li>
						<li class="current"><a href="">View Leads</a></li>
						<li><a href="../view-manufacturers/">View / Edit Manufacturers</a></li>
						<li><a href="../create-a-manufacturer/">Add a Manufacturer</a></li>
						<li><a href="../manufacturer-reports/">Reports</a></li>
						<li><a href="../view-dealers/">View / Edit Dealers</a></li>
						<li><a href="../create-a-dealer/">Add a Dealer</a></li>
						<li><a href="../profile/">Edit Account Profile</a></li>
					</ul>
				<!-- close sidebar -->
				</div>