			<div class="container">
				<div class="main-content">
					<h1 class="title">How it Works</h1>
					<p>HitFigure is the first to connect you directly to the dealer network for the specific brand of vehicle you currently own. Now it’s the dealer’s turn to buy from you, and individual dealerships will compete with each other to provide you the best offer available.</p>
					<h2 class="title">3 Easy Steps:</h2>
					<img class="threeSteps" width="574" height="219" alt="Three Easy Steps" src="{{imgdir}}/three-easy-steps.png" title="Three Easy Steps">
					<hr>
					<p>It’s completely FREE to submit your vehicle, and there’s no<br>
					obligation to accept any individual offer. There’s also no<br>
					need to submit any bank account or credit<br>
					card information on the HitFigure site.<br>
					All transactions happen directly<br>
					between you and the dealer<br>
					that buys your vehicle.
					<img class="how-car" width="711" height="357" title="Sell your Car Quickly" alt="Car Dealership Lead Generator" src="{{imgdir}}/how-it-works-car.png">
					</p>
				</div>
		
		
