			<div class="header-wrapper">
				<div class="header-bg-wrapper">
					<div id="header" class="container">
						<div id="logo">
							<a title="Get the right offer for your car" href="{{siteurl}}">
								<img alt="Hit Figure" src="{{imgdir}}/hitfigure-logo.png">
							</a>
							<h1 class="site-title">
								<a href="{{siteurl}}">Hit Figure</a>
							</h1>
							<span class="site-description">Get the right offer for your car</span>
						<!-- close logo -->
						</div>
						<div class="headline">
						
						</div>			
					<!-- close header -->	
					</div>
				<!-- close header-bg-wrapper -->
				</div>	
			<!-- close header wrapper -->
			</div>	
