			<p><strong>Hello {{user_name}},</strong></p>
            <p>Great news! The bidding window on the following vehicle has come to an end and you own the highest bid submission.</p>
            
            <p class="bidAmount"><strong>Vehicle Overview:</strong>
            <p class="bidDetails">{{#vehicle_vin}}{{vehicle_vin}}<br />{{/vehicle_vin}}
            {{vehicle_year}} {{vehicle_make}} {{vehicle_model}}<br />
            {{vehicle_mileage}}<br />
            {{vehicle_overalldesc}}<br />
            </p>
            <p class="bidAmount"><strong>Seller Information:</strong></p>
            <p class="bidDetails">{{seller_firstname}} {{seller_lastname}} {{seller_email}}<br />
            {{seller_zipcode}}<br />
            </p>
            
			<img src="{{imgdir}}/email/spacer-wht-full.jpg" width="635" height="20" style="display:block" />
			<img src="{{imgdir}}/email/divider_grey.gif" width="639" height="2" style="display:block" />