    	<center>
        	<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="backgroundTable">
            	<tr>
                	<td align="center" valign="top">
                    	<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer">
                        	<tr>
                            	<td align="center" valign="top">
                                    <!-- // Begin Template Header \\ -->
                                	<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader">
                                        <tr>
                                            <td class="headerContent">
                                            
                                                <!-- // Begin Module: Letterhead, Center Header Image \\ -->
                                                <table border="0" cellpadding="10" cellspacing="0" width="100%">
                                                    <tr>

                                                        <td valign="middle">
                                                            <img src="{{imgdir}}/email/hdr_vehicle_submitted.jpg" id="headerImage campaign-icon" mc:label="header_image"  mc:allowtext />
                                                        </td>
                                                    </tr>
                                                </table>
                                                <!-- // End Module: Letterhead, Center Header Image \\ -->

                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // End Template Header \\ -->
                                </td>
                            </tr>
                        	<tr>
                            	<td align="center" valign="top">
                                    <!-- // Begin Template Body \\ -->
                                	<table border="0" cellpadding="10" cellspacing="0" width="600" id="templateBody">
                                    	<tr>
                                        	<td valign="top" class="bodyContent">
                                            
                                                <!-- // Begin Module: Standard Content \\ -->
                                                <table border="0" cellpadding="10" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td valign="top">
                                                            <div>
                                                           	  <p>Hello, <strong>{{user_business_name}}</strong>! A vehicle has just been submitted to Hitfigure that matches your criteria!</p>
                                                              <p>Here's an overview:</p>
                                                              <ul>
															  	<li><strong>{{vehicle_year}} {{vehicle_make}} {{vehicle_model}}</strong></li>
																{{#vehicle_overalldesc}}<li>Condition: {{vehicle_overalldesc}}</li>{{/vehicle_overalldesc}}
																<li>Mileage: {{vehicle_mileage}}</li>
                                                              </ul>
															  <p>You can view the full profile <a href="{{siteurl}}/admin/lead/{{vehicle_id}}">here</a> and make an offer.</a></p>
															  <p>Best of luck!</p>
															  <p>~The HitFigure Team</p>
															  
															  <img src="{{imgdir}}/email/divider_grey.gif" />
															  
                                                              <p>Please do not respond to this email. If you need assistance, contact HitFigure using the information found here. We’re happy to help..
														  </div>
														</td>
                                                    </tr>
                                                </table>
                                                <!-- // End Module: Standard Content \\ -->
                                            
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // End Template Body \\ -->
                                </td>
                            </tr>
                        	<tr>
                            	<td align="center" valign="top">
                                    <!-- // Begin Template Footer \\ -->
                                	<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateFooter">
                                    	<tr>
                                        	<td valign="top" class="footerContent">
                                            
                                                <!-- // Begin Module: Standard Footer \\ -->
                                                <table border="0" cellpadding="10" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td valign="middle" id="social">
                                                            <div>
                                                                &nbsp;<a href="http://twitter.com/hitfigure">follow on Twitter</a> | <a href="http://facebook.com/hitfigure">friend on Facebook</a> &nbsp;
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td valign="top">
                                                            <div>
																<em>Copyright &copy; {{date_year}}, All rights reserved.</em>
																<br />
																
																<strong>Our mailing address is:</strong>
																<br />
																1111 Hitfigure Ave. Suite 666<br />Hot Springs, CA 91029
                                                            </div>
                                                        </td>
                                                    </tr>
  
                                                </table>
                                                <!-- // End Module: Standard Footer \\ -->
                                            
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // End Template Footer \\ -->
                                </td>
                            </tr>
                        </table>
                        <br />
                    </td>
                </tr>
            </table>
        </center>