			<p>Hello, <strong>{{user_business_name}}</strong></p>
            <p>A vehicle has just been submitted to Hitfigure that matches your criteria!</p>
            <p>Here's an overview:</p>
              <ul>
                <li><strong>{{vehicle_year}} {{vehicle_make}} {{vehicle_model}}</strong></li>
                {{#vehicle_overalldesc}}<li>Condition: {{vehicle_overalldesc}}</li>{{/vehicle_overalldesc}}
                <li>Mileage: {{vehicle_mileage}}</li>
              </ul>
              <p>You can view the full profile <a href="{{siteurl}}/admin/lead/{{vehicle_id}}">here</a> and make an offer.</a></p>
              <p>Best of luck!</p>
              <p>~The HitFigure Team</p>


            
            
			<img src="{{imgdir}}/email/spacer-wht-full.jpg" width="635" height="20" style="display:block" />
			<img src="{{imgdir}}/email/divider_grey.gif" width="639" height="2" style="display:block" />