
                                    <!-- // Begin Template Body \\ -->
                                	<table border="0" cellpadding="10" cellspacing="0" width="600" id="templateBody">
                                    	<tr>
                                        	<td valign="top" class="bodyContent">
                                            
                                                <!-- // Begin Module: Standard Content \\ -->
                                                <table border="0" cellpadding="10" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td valign="top">
                                                            <div>
                                                           	  <p>Hello, <strong>{{user_business_name}}</strong>. We're excited to tell you that your offer on the following vehicle is now the leading bid!</p>
                                                              <p>For your convenience, here is the Vehicle Overview:</p>
															  
                                                              <strong>Vehicle Overview:</strong><br />
																{{#vehicle_vin}}{{vehicle_vin}}<br />{{/vehicle_vin}}
																{{vehicle_year}} {{vehicle_make}} {{vehicle_model}}<br />
																{{vehicle_mileage}}<br />
																{{vehicle_overalldesc}}<br />
																
																
															  <p>You can view the full profile <a href="{{siteurl}}/admin/lead/{{vehicle_id}}">here</a> and make an offer.</a></p>
															  <p>Best of luck!</p>
															  <p>~The HitFigure Team</p>
															  
															  <img src="{{imgdir}}/email/divider_grey.gif" />
															  
                                                              <p>Please do not respond to this email. If you need assistance, contact HitFigure using the information found here. We’re happy to help..
														  </div>
														</td>
                                                    </tr>
                                                </table>
                                                <!-- // End Module: Standard Content \\ -->
                                            
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // End Template Body \\ -->