{{> header}}

{{>dash-header}}

{{>containerstart}}


	{{&alert_message}}

	<div>
		<a href="/admin/dismiss/?id={{alert_id}}&redirect={{siteurl}}/admin/alerts" class="button frontFormBtn">Dismiss this alert</a>
	</div>

{{>containerend}}

{{> footer}}