{{> header}}

{{>dash-header}}

{{>containerstart}}

<div>
	<small>
	<a href="{{vehicle_url}}">Return to this vehicles details</a>
	</small>
</div>

{{^lead_found}}
	<!-- No Lead Found... Output Message -->
{{/lead_found}}

{{^lead_is_valid}}
	<!-- Lead is invalid (expired)... Output Message -->
{{/lead_is_valid}}

{{#oktogo}}
	{{#errors}}
		<div>ERROR</div>
		<!-- Our form should display our errors, so we can put something like a big red 'error' box here -->
	{{/errors}}

	{{#placing_bid}}
		<strong>Minimum Bid:</strong> {{min_amount}}
	{{/placing_bid}}
	
	{{#confirming_bid}}
		<strong>Confirm bid for {{yourbidamount}}</strong>
	{{/confirming_bid}}
	
	{{#bid_placed}}
		<strong>Bid placed for {{yourbidamount}}</strong>
	{{/bid_placed}}
	
	{{&form}}<!-- changes depending on what stage you're in -->
	
{{/oktogo}}

{{>containerend}}

{{> footer}}