{{> header}}

{{>dash-header}}

{{>containerstart}}

	<div class="column fleft">
		{{>current-alerts}}
		
		{{>hitfigure-watch}}
	
	<!-- close left column -->
	</div>
	
	<div class="column fright">
		{{>dealer-stats}}
		
		{{>invoice-activity}}
	
	<!-- close right column -->
	</div>


{{>containerend}}

{{> footer}}