<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Hit Figure Email</title>
<style type="text/css">
body {
	background-color: #ebebeb;
}

p {color: #000000;
    font-family: Arial;
    font-size: 14px;
    text-align: left;
	/*margin: 0px;*/
}

p.small {
	font-size:10px;
}

p.bidAmount {
	font-size: 18px;
	color: #ef1e2e;
	font-style:italic;
	font-weight:bold;
	margin-bottom: 0px;
	margin-left: 30px;
}

p.bidDetails {
	margin-left: 30px;	
}

a {
	color: #ef1e2e;
}

a.social {
	color: #336699;
    font-weight: normal;
    text-decoration: underline;
}

h3 {
	font-family:Arial, Helvetica, sans-serif;
	font-style: italic;
    font-weight: bold;
	font-size: 18px;
	color: #505050;
	text-align: left;
	/*margin: 0px;*/	
}

h4 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 18px;
    font-style: italic;
    font-weight: bold;
    line-height: 18px;
	color:#505050;
	margin: 0px;
	text-align: left;
}

ul {
	list-style-type:disc;
}

li {
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	font-style:italic;
	color: #ef1e2e;	
}

</style>
</head>

<body bgcolor="#ebebeb">

<center>

	<table width="699" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
      <tr>
        <td width="30" align="left" valign="top" bgcolor="#ffffff"><img src="{{imgdir}}/email/spacer-wht.jpg" width="30" height="30" style="display:block" /></td>
        <td width="639" align="left" valign="top" bgcolor="#ffffff">
            <img src="{{imgdir}}/email/spacer-wht-full.jpg" width="635" height="10" style="display:block" />
            <table width="639" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="320" align="left" valign="top"><p class="small">Hitfigure says: {{hf_says}}: {{vehicle_name}}</p></td>
                <td width="318" align="right" valign="top"><p class="small">Email not displaying correctly? &nbsp;<a href="{{siteurl}}/admin/lead/{{vehicle_id}}" target="_blank">Access the vehicle directly</a>.</p></td>
              </tr>
              <tr>
                <td colspan="2"><img src="{{imgdir}}/email/spacer-wht-full.jpg" width="635" height="10" style="display:block" /></td>
              </tr>
            </table>
        
        </td>
        <td width="30" align="left" valign="top" bgcolor="#ffffff"><img src="{{imgdir}}/email/spacer-wht.jpg" width="30" height="30" style="display:block" /></td>
      </tr>
      <tr>
        <td colspan="3" bgcolor="#ffffff"><img src="{{imgdir}}/email/{{email_header_img}}" width="699" height="141" style="display:block" /></td>
      </tr>
      <tr>
        <td width="30" bgcolor="#ffffff"><img src="{{imgdir}}/email/spacer-wht.jpg" width="30" height="30" style="display:block" /></td>
        <td width="639" bgcolor="#ffffff"><img src="{{imgdir}}/email/spacer-wht-full.jpg" width="635" height="30" style="display:block" /></td>
        <td width="30" bgcolor="#ffffff"><img src="{{imgdir}}/email/spacer-wht.jpg" width="30" height="30" style="display:block" /></td>
      </tr>
      <tr>
        <td width="30" bgcolor="#ffffff">&nbsp;</td>
        <td width="639" align="left" valign="top" bgcolor="#ffffff">
		
		
								
			{{&message}}
									
        
        
          <img src="{{imgdir}}/email/spacer-wht-full.jpg" width="635" height="20" style="display:block" />
       	  <p>Please do not respond to this email. If you need assistance, contact HitFigure using the information <a href="http://www.hitfigure.com/contact">found here</a>. We're happy to help...</p>
          <img src="{{imgdir}}/email/spacer-wht-full.jpg" width="635" height="20" style="display:block" />
        </td>
        <td width="30" bgcolor="#ffffff">&nbsp;</td>
      </tr>
      <tr>
        <td width="30" bgcolor="#ffffff">&nbsp;</td>
        <td width="639" align="left" valign="top" bgcolor="#ffffff"><img src="{{imgdir}}/email/divider_grey.gif" width="639" height="2" style="display:block" />
        	<img src="{{imgdir}}/email/spacer-wht-full.jpg" width="635" height="10" style="display:block" />
            <p class="small"><a href="http://twitter.com/hitfigure" class="social">follow on Twitter</a>&nbsp; | &nbsp;<a href="http://facebook.com/hitfigure" class="social">friend on Facebook</a></p>
            
            <p class="small">
            	<em>Copyright &copy; {{date_year}}, All rights reserved.</em><br /><br />
            	<strong>Our mailing address is:</strong><br />
                1111 Hitfigure Ave. Suite 666<br />Hot Springs, CA 91029
            </p>
            <img src="{{imgdir}}/email/spacer-wht-full.jpg" width="635" height="30" style="display:block" />
        </td>
        <td width="30" bgcolor="#ffffff">&nbsp;</td>
      </tr>
    </table>

</center>

</body>
</html>