{{> header}}

{{>dash-header}}

{{>containerstart}}

{{^lead_found}}
	<!-- No Lead Found... Output Message -->
{{/lead_found}}

{{^lead_is_valid}}
	<!-- Lead is invalid (expired)... Output Message -->
{{/lead_is_valid}}

{{#oktogo}}
	<div>
		<small>
		<a href="{{vehicle_url}}">Return to this vehicles details</a>
		</small>
	</div>

	{{#errors}}
		<div>ERROR</div>
		<!-- Our form should display our errors, so we can put something like a big red 'error' box here -->
	{{/errors}}

	{{#form}}
		<h3 class="lead-title">Seller Info</h3>
		<p><strong>{{seller_firstname}} {{seller_lastname}}</strong><br />
		<a href="mailto:{{seller_email}}">{{seller_email}}</a><br />
		{{seller_city}}, {{seller_state}} {{seller_zipcode}}</p>
	{{/form}}
	
	{{#email_sent}}
		<strong>Email sent to <a href="mailto:{{seller_email}}">{{seller_email}}</a>!</strong>
	{{/email_sent}}
	
	{{&form}}<!-- changes depending on what stage you're in -->
	
{{/oktogo}}

{{>containerend}}

{{> footer}}