{{> header-front}}

{{>front-header}}

			<div class="container">
				<div class="main-content">
					<h1 class="title">FREQUENTLY ASKED QUESTIONS</h1>
					
					<hr>
					<p>
					<strong>Q: How long does it take to receive an offer?</strong>
					<br>
					A: Dealerships will receive the information and respond via email within 48 hours.
					</p>
					<p>
					<strong>Q: How long is the offer good for?</strong>
					<br>
					A: The offer is good for 48 hours.
					</p>
					<p>
					<strong>Q: How do I get paid for my car?</strong>
					<br>
					A: Once the offer is accepted, an inspection will be arranged. Pending the inspection, the car will be paid for immediately after the results.
					</p>
					<p>
					<strong>Q: If my car has a payoff, who will send the payoff to the bank?</strong>
					<br>
					A: The dealership will be responsible for the payoff of the lien. When the offer is accepted and inspection is complete, the proper paperwork will be sent to the consumer. At that time, if there is money owed from or to the consumer, that will also be taken care of. Once the dealership receives the paperwork back it will then be sent to the bank.
					</p>
					<p>
					<strong>Q: Who takes care of transportation of the vehicle?</strong>
					<br>
					A: It is the dealership’s responsibility to pay for the transportation of the vehicle.
					</p>
					<p>
					<strong>Q: Don’t I need to buy a new car to be able to sell my car to a dealership?</strong>
					<br>
					A: The answer is no! Dealerships are interested in buying vehicles just like any other buyer.
					</p>
					<p>
					<strong>Q: Do I have to take the offer sent to me if I enter my information?</strong>
					<br>
					A: If you do not like the offer, then don’t accept it. The car expires after 48 hours and you will be introduced to your local dealership if the offer is not accepted.
					</p>				
				</div>
				
			<!-- close container -->
			</div>


{{> footer}} 