{{> header}}

{{>dash-header}}

{{>containerstart}}


	<div class="column fleft">
		<ul class="lead-details-main">
			<li>VIN <p>{{vehicle_vin}}</p></li>
			<li>Year <p>{{vehicle_year}}</p></li>
			<li>Make <p>{{vehicle_make}}</p></li>
			<li>Model <p>{{vehicle_model}}</p></li>
			<li>Mileage <p>{{vehicle_mileage}}</p></li>
			<li>Trim <p>{{vehicle_trim}}</p></li>
			<li>Transmission <p>{{vehicle_transmission}}</p></li>
			<li>Exterior Color <p>{{vehicle_exteriorcolor}}</p></li>
			<li>Interior Color <p>{{vehicle_interiorcolor}}</p></li>
		</ul>
		
		<ul class="lead-details-sub">
			<li>Any known accidents? <p>{{vehicle_accidents}}</p></li>
			<li>Accidents - Please Explain<br />
				<p class="lead-det-desc">{{vehicle_accidents_explain}}</p>
			</li>
			<li>Tires Better or Worse than 60% <p>{{vehicle_tires}}</p></li>
			<li>Any Paintwork Performed? <p>{{vehicle_paintworkperformed}}</p></li>
			<li>Paintwork Performed - Please Explain<br />
				<p class="lead-det-desc">{{vehicle_paintworkperformed_explain}}</p>
			<li>Any Paintwork Needed?<p>{{vehicle_paintworkneeded}}</p></li>
			<li>Paintwork Needed - Please Explain<br />
				<p class="lead-det-desc">{{vehicle_paintworkneeded_explain}}</p>
			</li>
			<li>Smoker <p>{{vehicle_smoker}}</p></li>
			<li>Interior Condition <p>{{vehicle_interiorcondition}}</p></li>
			<li>Description of Overall Condition<br />
				<p class="lead-det-desc">{{vehicle_overalldesc}}</p>
			</li>
			<li>Who Owns the Title? <p>{{vehicle_titleowner}}</p></li>
			<li>Are you Replacing this Vehicle if Sold? <p>{{vehicle_replacingifsold}}</p></li>
		</ul>
		
		{{#timeleft}} {{!Display this block if this lead hasn't expired}}
			<h3 class="lead-title pl20">Time Left to make an Offer<br />
			<span>{{timeleft}}</span></h3>
			<ul class="lead-status">
				<li class="lead-st"><span>Status:</span> {{bid_status}}</li>
				<li class="lead-hb"><span>Highest Bid:</span> {{highest_amount}}</li>
				<li class="lead-cb"><span>Your Current Bid:</span> {{your_highest_amount}}</li>
			</ul>
			
			<div class="lead-offer-box pl20">
				<a href="/admin/bid/{{vehicle_id}}" class="button frontFormBtn">Make an Offer</a>
			</div>
		{{/timeleft}}
		{{^timeleft}} {{!Display this block if the lead has expired}}
		<div class="lead-offer-box pl20">
			<h3 class="button frontFormBtn">This lead has expired.</h3>
		</div>
		{{/timeleft}}
	<!-- end left col -->
	</div>
	
	
	
	<div class="column fright">
		<div id="dash-lead-slider" class="lead-photo">
			{{#attachments}}
				{{&vehicle_img_full}}
			{{/attachments}}
		</div>
		<div class="dash-lead-thumbs">
			{{#attachments}} <a href="">{{&vehicle_img_thumb}}</a> {{/attachments}}
		  
		</div>
		{{#lead_view_seller_info}}
			<h3 class="lead-title">Seller Info</h3>
			<p><strong>{{seller_firstname}} {{seller_lastname}}</strong><br />
			<a href="mailto:{{seller_email}}">{{seller_email}}</a><br />
			{{seller_city}}, {{seller_state}} {{seller_zipcode}}</p>
		{{/lead_view_seller_info}}
		
	<!-- end right col -->
	</div>




{{>containerend}}

{{> footer}}