<div {{#id}}id="wrapper-{{id}}"{{/id}} class="{{#class}}{{class}}{{/class}}{{^validated}} error{{/validated}}">
	{{#text}}<label {{#id}}id="label-{{id}}"{{/id}} class="Label" for="{{name}}">{{text}}{{#required}} <span class="marker-required">*</span>{{/required}}</label>{{/text}}
	{{#children}}
		{{&render}}
	{{/children}}
	{{#required}}<div class="required">(required)</div>{{/required}}
	{{^validated}}<div class="not-validated">{{errormsg}}</div>{{/validated}}
	
</div>