<div {{#id}}id="wrapper-{{id}}"{{/id}} class="rb-single-wrapper">
{{#text}}<label {{#id}}id="label-{{id}}"{{/id}} class="Label radioLabel" for="{{name}}">{{text}}{{#required}} <span class="marker-required">*</span>{{/required}}</label>{{/text}}
<input 
	type="radio" 
	{{#id}}id="{{id}}"{{/id}} 
	class="{{class}}" 
	name="{{name}}" 
	value="{{value}}" 
	{{#disabled}}disabled="disabled"{{/disabled}} 
	{{#readonly}}readonly="true"{{/readonly}}
	{{#checked}}checked="on"{{/checked}} 
/>
</div>
	
