Hello again, {{seller_firstname}},

We're excited to tell you that someone has made an offer on your vehicle, {{vehicle_year}} {{vehicle_make}} {{vehicle_model}}.
For the amount of {{amount}}!

There's no need to do anything at this point, {{seller_firstname}}, you still have {{time_left}} left, and we'll let you know if someone else makes a higher bid.

Stay tuned!