			<p>Hello again, <strong>{{seller_firstname}}</strong>,</p>
            <p>We regret to inform you that your vehicle, {{vehicle_year}} {{vehicle_make}} {{vehicle_model}} did not receive any bids in the last 48 hours.</p>
            <p>~The HitFigure Team</p>
            
            
			<img src="{{imgdir}}/email/divider_grey.gif" width="639" height="2" style="display:block" />
            <img src="{{imgdir}}/email/spacer-wht-full.jpg" width="635" height="30" style="display:block" />
            
<!-- Helpful Resources Box -->
            <table width="639" border="0" cellspacing="0" cellpadding="0">
              <tr>
              	<td width="30" height="15" bgcolor="#e5e5e5"><img src="{{imgdir}}/email/spacer-grey.jpg" width="30" height="15" style="display:block" /></td>
                <td width="193" bgcolor="#e5e5e5">&nbsp;</td>
                <td width="193" bgcolor="#e5e5e5">&nbsp;</td>
                <td width="193" bgcolor="#e5e5e5">&nbsp;</td>
                <td width="30" height="15" bgcolor="#e5e5e5"><img src="{{imgdir}}/email/spacer-grey.jpg" width="30" height="15" style="display:block" /></td>
              </tr>
              <tr>
                <td width="30" bgcolor="#e5e5e5"><img src="{{imgdir}}/email/spacer-grey.jpg" width="30" height="30" style="display:block" /></td>
                <td width="193" align="center" valign="middle" bgcolor="#e5e5e5"><h4>Helpful Resources &raquo;</h4></td>
                <td width="193" align="center" valign="middle" bgcolor="#e5e5e5"><a href="{{siteurl}}/faqs/" title="Hitfigure FAQ Page"><img src="{{imgdir}}/email/btn_faq_page.gif" alt="Hitfigure FAQ Page" border="0" title="Hitfigure FAQ Page" /></a></td>
                <td width="193" align="center" valign="middle" bgcolor="#e5e5e5"><a href="{{siteurl}}/contact/" title="Contact Hitfigure"><img src="{{imgdir}}/email/btn_contact.gif" alt="Contact Hitfigure" border="0" title="Contact Hitfigure" /></a></td>
                <td width="30" bgcolor="#e5e5e5"><img src="{{imgdir}}/email/spacer-grey.jpg" width="30" height="30" style="display:block" /></td>
              </tr>
              <tr>
                <td width="30" height="15" bgcolor="#e5e5e5"><img src="{{imgdir}}/email/spacer-grey.jpg" width="30" height="15" style="display:block" /></td>
                <td width="193" bgcolor="#e5e5e5">&nbsp;</td>
                <td width="193" bgcolor="#e5e5e5">&nbsp;</td>
                <td width="193" bgcolor="#e5e5e5">&nbsp;</td>
                <td width="30" height="15" bgcolor="#e5e5e5"><img src="{{imgdir}}/email/spacer-grey.jpg" width="30" height="15" style="display:block" /></td>
              </tr>
            </table>
<!-- End Helpful Resources Box -->