
                                    <!-- // Begin Template Body \\ -->
                                	<table border="0" cellpadding="10" cellspacing="0" width="600" id="templateBody">
                                    	<tr>
                                        	<td valign="top" class="bodyContent">
                                            
                                                <!-- // Begin Module: Standard Content \\ -->
                                                <table border="0" cellpadding="10" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td valign="top">
                                                            <div>
																<p>Hello again, <strong>{{seller_firstname}}</strong>,</p>

																<p>We regret to inform you that your vehicle, {{vehicle_year}} {{vehicle_make}} {{vehicle_model}} did not receive any bids in the last 48 hours.</p>

																<p>~The HitFigure Team</p>
															  
															  <img src="{{imgdir}}/email/divider_grey.gif" />
															  
                                                              <p>Please do not respond to this email. If you need assistance, contact HitFigure using the information found here. We’re happy to help..
														  </div>
														</td>
                                                    </tr>
                                                </table>
                                                <!-- // End Module: Standard Content \\ -->
                                            
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // End Template Body \\ -->
                                