
                                    <!-- // Begin Template Body \\ -->
                                	<table border="0" cellpadding="10" cellspacing="0" width="600" id="templateBody">
                                    	<tr>
                                        	<td valign="top" class="bodyContent">
                                            
                                                <!-- // Begin Module: Standard Content \\ -->
                                                <table border="0" cellpadding="10" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td valign="top">
                                                            <div>
																<p>Hello {{user_business_name}},</p>
															
																<p>It's time for the big reveal. Drumroll, please...</p>
																<table>
																	<tr>
																		<td><p>Top Bid Amount: $bidAmount</p></td>
																		<td>Dealership:<br />
																		{{user_business_name}}<br />
																		attn: {{user_first_name}} {{user_last_name}}<br />
																		{{user_address1}}<br />
																		{{#user_address2}}{{user_address2}}<br />{{/user_address2}}
															  			{{user_city}} {{user_state}} {{user_zipcode}}<br />
																		{{user_phone}}
																		</td>
																	</tr>
																</table>
																
															  <img src="{{imgdir}}/email/divider_grey.gif" />
															  
															  <h4 class="h4">What's Next?</h4>
															  
															  <p>At this point, it's up to you to move forward however you feel comfortable. If you're happy with the offer, contact the dealer directly and determine final steps to complete the sale (which typically consists of a simple vehicle inspection). If, however, you're not ready to pull the trigger, you are under no obligation to take any additional steps. Feel free to let the dealer know you are not interested at this time.</p>
															  <p>SThanks for using HitFigure. Come back soon!</p>
															  <p>~The HitFigure Team</p>
															  
															  <div class="inset">
															  	<strong>Helpful Resources &raquo;</strong> <a href="{{siteurl}}/faqs/" title="Hitfigure FAQ Page"><img src="{{imgdir}}/email/btn_faq_page.gif" alt="Hitfigure FAQ Page" title="Hitfigure FAQ Page" /></a> <a href="{{siteurl}}/contact/" title="Contact Hitfigure"><img src="{{imgdir}}/email/btn_contact.gif" alt="Contact Hitfigure" title="Contact Hitfigure" /></a>
															  </div>
															  
                                                              <p>Please do not respond to this email. If you need assistance, contact HitFigure using the information found here. We're happy to help..
														  </div>
														</td>
                                                    </tr>
                                                </table>
                                                <!-- // End Module: Standard Content \\ -->
                                            
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // End Template Body \\ -->