    	<center>
        	<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="backgroundTable">
            	<tr>
                	<td align="center" valign="top">
                    	<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer">
                        	<tr>
                            	<td align="center" valign="top">
                                    <!-- // Begin Template Header \\ -->
                                	<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader">
                                        <tr>
                                            <td class="headerContent">
                                            
                                                <!-- // Begin Module: Letterhead, Center Header Image \\ -->
                                                <table border="0" cellpadding="10" cellspacing="0" width="100%">
                                                    <tr>

                                                        <td valign="middle">
                                                            <img src="{{imgdir}}/email/hdr_vehicle_submitted.jpg" id="headerImage campaign-icon" />
                                                        </td>
                                                    </tr>
                                                </table>
                                                <!-- // End Module: Letterhead, Center Header Image \\ -->

                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // End Template Header \\ -->
                                </td>
                            </tr>
                        	<tr>
                            	<td align="center" valign="top">
                                    <!-- // Begin Template Body \\ -->
                                	<table border="0" cellpadding="10" cellspacing="0" width="600" id="templateBody">
                                    	<tr>
                                        	<td valign="top" class="bodyContent">
                                            
                                                <!-- // Begin Module: Standard Content \\ -->
                                                <table border="0" cellpadding="10" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td valign="top">
                                                            <div>
																<p>Hello {{seller_name}},</p>
																<p>Congratulations on the submission of your {{vehicle_name}}.</p>
																<p>Based on your geographic location, the information about your vehicle has been delivered to the following dealerships:</p>
															  	<ul>
																{{#dealers}}<li>{{user_business_name}}</li>{{/dealers}}
																</ul>
																
															  <img src="{{imgdir}}/email/divider_grey.gif" />
															  
															  <h4 class="h4">What's Next?</h4>
															  
															  <p>These dealers have the next 48 hours to review the details of your vehicle and submit an offer. We will notify you via email each time a new offer is entered. At the end of 48 hours, we'll provide you with the contact information for the dealer who submitted the top offer and let you know know the amount. This dealer will also receive your contact information, and it's up to you whether to seal the deal or pass on the offer. You're in full control.</p>
															  <p>So without further adieu, let the bidding begin!</p>
															  <p>~The HitFigure Team</p>
															  
															  <div class="inset">
															  	<strong>Helpful Resources &raquo;</strong> <a href="{{siteurl}}/faqs/" title="Hitfigure FAQ Page"><img src="{{imgdir}}/email/btn_faq_page.gif" alt="Hitfigure FAQ Page" title="Hitfigure FAQ Page" /></a> <a href="{{siteurl}}/contact/" title="Contact Hitfigure"><img src="{{imgdir}}/email/btn_contact.gif" alt="Contact Hitfigure" title="Contact Hitfigure" /></a>
															  </div>
															  
                                                              <p>Please do not respond to this email. If you need assistance, contact HitFigure using the information found here. We're happy to help..
														  </div>
														</td>
                                                    </tr>
                                                </table>
                                                <!-- // End Module: Standard Content \\ -->
                                            
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // End Template Body \\ -->
                                </td>
                            </tr>
                        	<tr>
                            	<td align="center" valign="top">
                                    <!-- // Begin Template Footer \\ -->
                                	<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateFooter">
                                    	<tr>
                                        	<td valign="top" class="footerContent">
                                            
                                                <!-- // Begin Module: Standard Footer \\ -->
                                                <table border="0" cellpadding="10" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td valign="middle" id="social">
                                                            <div>
                                                                &nbsp;<a href="http://twitter.com/hitfigure">follow on Twitter</a> | <a href="http://facebook.com/hitfigure">friend on Facebook</a> &nbsp;
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td valign="top">
                                                            <div>
																<em>Copyright &copy; {{date_year}}, All rights reserved.</em>
																<br />
																
																<strong>Our mailing address is:</strong>
																<br />
																1111 Hitfigure Ave. Suite 666<br />Hot Springs, CA 91029
                                                            </div>
                                                        </td>
                                                    </tr>
  
                                                </table>
                                                <!-- // End Module: Standard Footer \\ -->
                                            
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // End Template Footer \\ -->
                                </td>
                            </tr>
                        </table>
                        <br />
                    </td>
                </tr>
            </table>
        </center>
                                            
                                            