
                                    <!-- // Begin Template Body \\ -->
                                	<table border="0" cellpadding="10" cellspacing="0" width="600" id="templateBody">
                                    	<tr>
                                        	<td valign="top" class="bodyContent">
                                            
                                                <!-- // Begin Module: Standard Content \\ -->
                                                <table border="0" cellpadding="10" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td valign="top">
                                                            <div>
																<p>Hello again, <strong>{{seller_firstname}}</strong>,</p>

																<p>The winner of {{vehicle_year}} {{vehicle_make}} {{vehicle_model}}, {{user_business_name}}, has sent you an email. Read the message below:</p>
																{{&message}}
															  
															  <img src="{{imgdir}}/email/divider_grey.gif" />
															  
                                                             
														  </div>
														</td>
                                                    </tr>
                                                </table>
                                                <!-- // End Module: Standard Content \\ -->
                                            
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // End Template Body \\ -->
                                