{{> header-front}}

{{>front-header}}

{{>front-containerstart}}


<div class="sidebar">
	<img class="step-one-graphic" alt="Step 1" src="{{imgdir}}/step-one-graphic.png">
	<h2 class="title">COMPLETE!</h2>
	<div class="form-wrapper">
		<h2 class="form-title">Thank You</h2>
		
		<p>Thank you!</p>
		
		<p>Your vehicle- <strong>{{vehicle_year}} {{vehicle_make}} {{vehicle_model}}</strong>- has been submitted and processed.</p>
		
		<p>You will receive a confirmation at the email address you supplied. All notifications concerning your vehicle will be sent here- so keep an eye out! The bids should start rolling in!</p>
		<p>If you have any questions, please contact us at 555-555-1212 or using our <a href="{{siteurl}}/contact/">contact form</a> online.</p>
		
	</div>
<!-- end form div -->
</div>

{{>front-containerend}}

{{> footer}} 