{{> header-front}}

{{>front-header}}

{{>front-containerstart}}


<div class="sidebar">
	<img class="step-one-graphic" alt="Step 1" src="{{imgdir}}/step-one-graphic.png">
	<h2 class="title">COMPLETE!</h2>
	<div class="form-wrapper">
		<h2 class="form-title">Thank You!</h2>
		
		<p>Your <strong>{{vslug}}</strong> has been submitted and processed.</p>
		
		<p>You will receive a confirmation at the email address you supplied. All notifications concerning your vehicle will be sent here- so keep an eye out! The bids should start rolling in!</p>
		<p>If you have any questions, please contact us at:<br /><br />
		Phone:  (714) 366-1231,<br />
		Email:	<a href="mailto:info@hitfigure.com">info@hitfigure.com</a>,<br />
		or through our <a href="{{siteurl}}/contact/">contact form</a> online.</p>
		
		<p>Thanks again!</p>
		
		<p>~The Hitfigure Team</p>
		
	</div>
<!-- end form div -->
</div>

{{>front-containerend}}

{{> footer}} 