{{> header}}

{{>dash-header}}

{{>containerstart}}

<table cellpadding="0" cellspacing="0" border="0" class="display" id="view-clients" data-type="{{client_type}}">
	<thead>
		<tr>
			<th width="20%">{{client_name}} Name</th>
			<th width="25%">City</th>
			<th width="25%">State</th>
			<th width="15%">Reports</th>
			<th width="15%">Edit</th>
		</tr>
	</thead>
	<tbody>
		
	</tbody>
	<tfoot>
		<tr>
			<th>{{client_name}} Name</th>
			<th>City</th>
			<th>State</th>
			<th>Reports</th>
			<th>Edit</th>
		</tr>
	</tfoot>
</table>

{{>containerend}}

{{> footer}}