{{> header}}

{{>dash-header}}

{{>containerstart}}

<table cellpadding="0" cellspacing="0" border="0" class="display" id="view-alerts">
	<thead>
		<tr>
			<th width="15%">Type</th>
			<th width="20%">Lead</th>
			<th width="15%">Details</th>
			
		</tr>
	</thead>
	<tbody>
		
	</tbody>
	<tfoot>
		<tr>
			<th>Type</th>
			<th>Lead</th>
			<th>Details</th>
		</tr>
	</tfoot>
</table>

{{>containerend}}

{{> footer}}