/*
*	dataTables over rides - to be consolidated later
*/


.dataTables_wrapper {
	position: relative;
	clear: both;
	margin-bottom: 20px;
}

/* add a clearfix */
.dataTables_wrapper:before,
.dataTables_wrapper:after {
    content:"";
    display:table;
}
.dataTables_wrapper:after {
    clear:both;
}
.dataTables_wrapper {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}


/*** TABLES ***/
table.dataTable {
	width: 718px;
	border: 1px solid #e1e1e1;
	border-right: none;
	background: #c2c2c2;
	margin-bottom: 20px;
}
table.dataTable thead th {
	border-bottom: 1px solid #8b8b8b;
}

table.dataTable thead th, .dataTables td {
	padding: 5px 8px;	
	vertical-align: middle;
	text-align: center;
	border-right: 1px solid #e1e1e1;
}
table.dataTable thead th {
	background: #3c3c3c;
	height: 40px;
	line-height: 16px;
	color: #e1e1e1;
	font-weight: bold;
	font-size: 13px;
	padding: 10px;
	text-transform: capitalize;
	border: 1px solid #C2C2C2;
}
table.dataTable thead th span {
	font-size: 13px;
}
table.dataTable td, table.dataTable tr.odd td.sorting_1 {
	background-color: #c2c2c2;
	border-bottom: 1px solid #a3a3a3;
	border-top: 1px solid #d5d5d5;
	border-right: 1px solid #e1e1e1;
	text-align: center;
}

table.dataTable tr.even td, table.dataTable tr.even td.sorting_1 { 
	background-color: #c9c9c9;
	border-top: 1px solid #d5d5d5;
}

.dataTable td.column-edit {
	width: 90px;	
}

table.dataTable tbody a {
	text-transform: uppercase;
	font-weight: bold;
	color: white !important;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
	text-decoration: none;
	font-family: arial, helvetica, sans-serif;
	font-size: 11px;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25); 
	border: 1px solid rgba(0,0,0,.25); 
	border-bottom-color: rgba(0,0,0,.35);
	background: #8A0814;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(.2, #DE1B23), color-stop(1, #8A0814) );
	background: -moz-linear-gradient( center top, #DE1B23 20%, #8A0814 100% );
	-webkit-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/, inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/, 0 1px 2px hsla(0, 0%, 0%, .29) /*Shadow*/;
	-moz-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/, inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/, 0 1px 2px hsla(0, 0%, 0%, .29) /*Shadow*/;
	box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/, inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/, 0 1px 2px hsla(0, 0%, 0%, .29) /*Shadow*/;
	cursor: pointer;
	padding: 5px 10px;
}

table.dataTable tbody a:hover {
	text-decoration: none !important;
	background: #BD212F;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(.2, #A81724), color-stop(1, #BD212F) );
	background: -moz-linear-gradient( center top, #A81724 20%, #BD212F 100% );
}



/*
p.dashboard-note {color: #c1030c; font-size: 14px; font-weight: bold; margin-left: 15px;}

p.breadcrumbs {font-size: 10px; margin-bottom: 8px;}
*/